#app {
  height: 50px;
}
#app #nav {
  text-align: center;
  padding-top: 0.5rem;
  color: #fff;
  background: rgba(241, 240, 240, 0.11);
  padding-bottom: 0.5rem;
}
#app #nav ul {
  display: flex;
  justify-content: center;
}
#app #nav ul li {
  list-style: none;
  width: 3.5rem;
  cursor: pointer;
  margin-left: 1rem;
}
#app #nav ul li:hover {
  border-bottom: 2px solid #60e6f0;
}
#app #nav ul .current {
  border-bottom: 2px solid #60aff0;
}
.audio-main {
  width: 95% !important;
  margin-left: 2.5%;
}
