#app {
  height: 50px;

  #nav {
    text-align    : center;
    padding-top   : 0.5rem;
    color         : #fff;
    background    : rgba(241, 240, 240, 0.11);
    padding-bottom: 0.5rem;

    ul {
      display        : flex;
      justify-content: center;

      li {
        list-style : none;
        width      : 3.5rem;
        cursor     : pointer;
        margin-left: 1rem;
      }

      li:hover {
        border-bottom: 2px solid rgb(96, 230, 240);
      }

      .current {
        border-bottom: 2px solid rgb(96, 175, 240);
      }
    }
  }
}
.audio-main {
  width      : 95% !important;
  margin-left: 2.5%;
}